[credential]
	helper = store
[user]
	name = binjian
	email = binjian.xin@hotmail.com
[http]
	sslverify = false
	proxy = http://127.0.0.1:20171
[https]
	proxy = http://127.0.0.1:20171
[safe]
	directory = /d/llm-srv/ollama_project_v1
	directory = /d/llm-srv/ollama_project_v2
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[pull]
	rebase = true
[diff]
	algorithm = histogram
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[lfs]
	basictransferonly = true
	autoDetect = true
