[credential]
	helper = store
[user]
	name = binjian
	email = binjian.xin@hotmail.com
[http]
	sslverify = false
	proxy = http://127.0.0.1:20171
[https]
	proxy = http://127.0.0.1:20171
[safe]
	directory = /d/llm-srv/ollama_project_v1
[lfs "https://10.2.2.10/AdvancedResearch/xinbinjian/mujoco_ros.git/info/lfs"]
	locksverify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
